/* 导航栏和版权块的样式 */

/* 导航栏样式 */
* {
    /*内外边距为0*/
    margin: 0;
    padding: 0;
    border: 0;
    /*各种列表样式为空*/
    text-decoration: none;
    list-style: none;
    /*避免内边距影响盒子实际尺寸*/
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html,
body {
    background-color: black;
    color: whitesmoke;
    overflow: visible;
}

/* 导航栏样式 */
.nav {
    z-index: 1000;
    height: 70px;
    background: url(../images/people-2.png) center no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.nav span {
    margin-left: 40px;
    float: left;
}

.navlogo {
    height: 70px;
}


.navbar a {
    color: whitesmoke;
    font-family: "黑体";
    font-size: 22px;
    font-weight: 650;
    display: block;
    float: right;
    width: 150px;
    line-height: 70px;
    text-align: center;
    transition: all 0.3s ease;

}

.navitem {
    position: relative;
}

.navitem :hover {
    background: url(../images/people-3.png);
    background-position: center;
    background-size: 130%;
    color: rgba(139, 13, 13);
    box-shadow: 5px 5px 10px rgba(139, 13, 13, 0.618);
    border-radius: 12px;
}

/*版权样式*/
.copyright {
    position: sticky;
    text-align: center;
    padding: 10px;
    background: url(../images/people-2.png) center no-repeat;
    background-size: cover;
    font-size: 20px;
    color: whitesmoke;
}

/* 小屏幕设备 */
@media (max-width: 767px) {
    .nav {
        height: auto;
    }

    .nav span {
        float: none;
        display: block;
        text-align: center;
        margin-left: 0;
    }

    .navbar a {
        float: none;
        width: 100%;
        line-height: 50px;
    }
}